{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": false,
      "targets": {
        "browsers": ["last 2 versions"],
        "module": false
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}